.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91vh;
}
.content h1 , p{
    color: grey;
}
.content h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.content p{
    font-size: 2rem;
    font-weight: 500;
}

.content  p:hover{
    color: white;
}
.content  h1:hover{
    color: white;
}